# Config for faster restore DB for development
[mysqld]

pid-file	= /var/run/mysqld/mysqld.pid
socket		= /var/run/mysqld/mysqld.sock
datadir		= /var/lib/mysql

# InnoDB Settings
default_storage_engine          = InnoDB


# Connection Settings
max_connections                 = 50   # UPD
